
.left {
  width: 40%;
  height: 100%;
  background: #F5F5F5;
  margin-top: 0;
  padding: 2%;
  float: left;
}

.right {
  width: 60%;
  height: 100%;
  background: white;
  float: left;
}

.back{
  text-align: left;
  margin-top: 0;
  margin-top: 6.15%;
}

.titlerec{
  margin-left:5%;
  margin-top:14.5%;
  width: 90%;
  text-align: center;
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #0058AB;
}
.divshop{
  width:40%;
  margin-left: 10%;
  margin-right: 0%;
  margin-top: 0%;
  float: left;

}

.mattressrec{
  margin-top:5%;
}

#store{
  border-style: hidden;
}

#cart{
  border-style: hidden;
}
#store:hover {
  border-color: #0058AB;
  border-radius: 3.5%/5%;
  border-style: solid;
  border-width: 3px;
}

#cart:hover {
  border-color: #0058AB;
  border-radius: 3.5%/5%;
  border-style: solid;
  border-width: 3px;
}

.divcart{
  width: 40%;
  margin-right: 7.5%;
  margin-left: 50%;
  margin-top: 0%;
}

.textout{
  margin-left: 5%;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  padding: 10%;
  margin-top: 7.5%;
  line-height: 37.5px;
}

.name{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
  display: inline;
  margin-top: 5%;
  margin-left: 25px;
}

.match{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #0058AB;
  float: left;
  margin-top: 32px;
  margin-left:25px;
  position: absolute;
}

.price{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  float: right;
  margin-right: 25px;
  margin-top: 5%;
}

.reqrec{
  margin-top: 33px;
  margin-left: 5px;
  position: absolute;
  width: 7.5%;
}

.bedinfo{
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  padding-left: 27px;
  padding-right: 27px;
  margin-top: 60px;
  display: none;
}
