.left {
  width: 100%;
  height: 100%;
  background: white;
  float: left;
}

.right {
  margin-left: 70%;
  width: 30%;
  height: 100%;
  background: #F5F5F5;
  position: fixed;
  display: none;
}

.question {
  width: 100%;
  height: 50%;
  background: white;
}

.progressbar {
  width: 100%;
  bottom: 0%;
  background: white;
  height: 12.5%;
  position: fixed;
  text-align: center;
}

.mattressimg {
  margin-top: 27.5%;
  text-align: center;
}
.tags{
  margin-left: 3%;
  display: none;
  width: fit-content;
  border-radius: 13.5%/50%;
  text-align: center;
  padding-left: 4.5%;
  padding-right: 4.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color:white;
  font-family: futura-pt, sans-serif;
}
.tags:hover {
  border-style: solid !important;
  border-color: #0058AB !important;
  border-width: 3px !important;
  border-radius: 13.5%/50% !important;
  box-sizing: border-box !important; 
}

.tagstitle{
  margin-left: 3%;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
}

.bedtags {
  margin-left: 10%;
  top: 64%;
}

.personaltags {
  margin-left: 10%;
  top: 123.5%;
}

.hiddenchapter {
  display: none;
  top: 20%;
}

.hiddenchapter#chapter1 {
  display: block;
}

.buttonsbottom {}

.leftbutton {
  margin-right: 6.5%;
  width: 10px;
}

.rightbutton {
  margin-left: 6.5%;
  width: 10px;
}

.buttonsbottom .dot {
  width: 10px;
  margin: 2%;
}

.hiddenchapter .chapter1:hover, .hiddenchapter .chapter4:hover, .hiddenchapter .chapter5:hover,
.hiddenchapter .chapter6:hover{
  border-style: solid;
  border-color: #0058AB;
  border-width: 3px;
  border-radius: 100%;
  box-sizing: border-box;
}

.hiddenchapter .chapter2:hover, .hiddenchapter .chapter8:hover{
  border-style: solid;
  border-color: #0058AB;
  border-width: 3px;
  border-radius: 0%;
  box-sizing: border-box;
}

.slideralign{
  margin-left: 13%;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

div#divbedframe {
  display: block;
}

div#divbedbank {
  display: none;
}

div#divloftbed {
  display: none;
}

#flush-collapseOne {}

.divtext1 {
  width: 55%;
  text-align: center;
  margin-left: 22.5%;
}

.divtext {
  width: 55%;
  margin-left: 22.5%;
}

.p1 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
}

.p2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
}

.p3 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  overflow: hidden;
  display: inline;
  white-space: nowrap;
  margin-left: 7.5%;
  z-index: -1;
}

.pbed {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 16%;
}

.psize {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 26.5%;
}

.pweight {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 20%;
}

.pbody {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 11.5%;
}

.pposition {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 11.5%;
}

.pposition {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 11.5%;
}

.ppain {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 11%;
}

.ptemp {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 22%;
}

.pimportant {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 21.5%;
}

.pexclude {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 22%;
}

.pprice {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin-top: 21.5%;
}

.div11 {
  width: 11.5%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  text-align: center;
  margin-left: 32.75%;
  margin-top: 10%;
}

.div12 {
  width: 11.5%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  text-align: center;
  margin-top: 10%;
}

.div13 {
  width: 11.5%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  text-align: center;
  margin-top: 10%;
}

.div21 {
  width: 16%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  margin-left: 34%;
  text-align: center;
}

.div22 {
  width: 16%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0px;
  text-align: center;
}

.div31 {
  width: 48%;
  height: 100%;
  background: transparant;
  float: left;
  padding-top: 2%;
  margin-left: 26%;
  text-align: center;
}

.div41 {
  width: 16%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  margin-left: 26%;
  text-align: center;
}

.div42 {
  width: 16%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.div43 {
  width: 16%;
  height: 100%;
  background: transparant;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.divskip {
  width: 16%;
  height: 100%;
  padding-top: 5%;

  background: transparant;
  float: left;

  margin-left: 42%;
  text-align: center;
}



.donebutton {
  text-align: right;
  position: fixed;
  bottom: 7.5%;
  right: 1.5%;
  margin-left: 80%;
  width: 8.5%;
}

.rangediv {
  height: 100%;
  background: transparant;
  float: left;
  padding-top: 15px;
  margin-left: 10%;
  margin-right: 5%;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #c4c4c4;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0058AB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0058AB;
}

.range-wrap {
  width: 400%;
  position: relative;
}

.range-value {
  position: absolute;
  top: -50%;
}

.range-value span {
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #555555;
  color: #fff;
  font-size: 16px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -15%);
  border-radius: 6px;
}

.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 7px solid #555555;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
