.welcome {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}
.subtitle{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  margin:0;
  padding:0;
}

.starthead {
    width: 100%;
    background: transparant;
    float: left;
    padding: 0;
    text-align: center;
    margin-top: 5%;
}

.startimg {
    width: 100%;
    background: transparant;
    float: left;
    padding: 0;
    text-align: center;
    margin-top: 10%;
    vertical-align: middle;
}

.startbutton {
  width: 100%;
  height: 20%;
  margin-top: 25%;
  padding-top: 10%;
  text-align: center;
  background: transparant;
}
