.welcome {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 10%
}
.subtitle{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  margin:0;
  padding:0;
}

.starthead {
    width: 100%;
    height: 10%;
    background: transparant;
    float: left;
    padding: 0;
    text-align: center;
    margin-top: 0;
}

.startimg {
    width: 100%;
    height: 40%;
    background: transparant;
    float: left;
    padding: 0;
    text-align: center;
    margin: 0;
    vertical-align: middle;
}
