.bigrec{
  width: 70%;
  height: 100%;
  background: white;
  float: left;
  position: sticky;
}

.alternative{
  width: 30%;
  height: 100%;
  background: white;
  float: left;
  overflow:auto;
  border-left: solid;
  border-color: #F5F5F5;
}

.divback{
  margin-top: 6.15%;
  width: 8.75%;
  margin-left: 0;
  height: 100%;
  float: left;
}

.divrec{
  margin-top: 5%;
  width: 82.5%;
  height: 100%;
  float: left;
}

.divright{
  margin-top: 5%;
  width: 8.5%;
  height: 100%;
  float: left;
}
.text{
  height: 10%;
}

.divimgtext{
  position: absolute;
  top: 140px;
  left: 60px;
}

.name{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.match{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #0058AB;
  margin-top: -15px;
}

.price{
  position: absolute;
  bottom: 190px;
  right: 70px;
}

.namealternative{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
  display: inline;
  margin-top: 5%;
}

.matchalternative{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #0058AB;
  float: left;
  margin-top: 28px;
  margin-left: -30%;
}

.pricealternative{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
}

.reqalternative{
  float: right;
  display: inline;
  margin-top: -37px;
  margin-left: -45px;
}

.matchedreq{
  position: absolute;
  top: 179px;
  left: -340px;
}

.mattressprice{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: left;
}

.img{
  margin-top: 10%;
}

.tags{
  text-align: left;
}

.back{
  margin-right: 0;
  text-align: center;
}

.recomtext{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  margin-left: 0;
  margin-bottom: -5px;
  padding-bottom: 0;
}

.underrecom{
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: -130px;
}

.bigmattress{
  width: 100%;
}

.bluebeam{
  width: 100%;
  background: #0058AB;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
  margin-top: 7.5px;
}

.recomimg{
  text-align: center;
  margin-top: 7.5%;
  z-index: -1;
  margin-left: -5%;
  margin-bottom: 5%;
}

.requirement{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
  border-style: none none solid none;
  border-width: thin;
  margin-top: -10px;
}

.taglayout{
  display: none;
  margin-right: 1%;
  margin-bottom: 1%;
  width: fit-content;
  border-radius: 13.5%/50%;
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:#F5F5F5;
  font-family: futura-pt, sans-serif;
  font-size: 12px;
}

.tagcrossed{
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  width: fit-content;
  border-radius: 13.5%/50%;
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:#F9F9F9;
  color:#828282;
  font-family: futura-pt, sans-serif;
  text-decoration: line-through;
  font-size: 12px;
}

.startalternative{
  text-align: center;
  margin-top: 36%;
  width: 100%;
}
.alternativemattress{
  height: 42.5%;
  text-align: center;
}

.alternativebeam{
  width: 82.5%;
  background: #F5F5F5;
  border-radius: 5px;
  text-align: center;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  color: black;
  margin-left: 10%;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  vertical-align: middle;
}
#bestalternativebeam{
  background: #0058AB;
  color: white;
}


.alternativeimg{
  text-align: center;
  margin-left: 10%;
  margin-top: 7.5%;
  z-index: -1;
}

#nonshow{
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 1%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.detailbutton{
  border: none;
  background-color: transparent;
  position: absolute;
  left: 57px;
  margin-top: 0.5%;

}

.detailtext{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  padding-top: 5%;
  color: #0058AB;
  text-decoration: underline;
  text-decoration-color: #0058AB;
}

.close{
  position: absolute;
  right: 128px;
  top: 6px;
}

.donebutton {
  text-align: right;
  position: absolute;
  width: 40%;
  display: inline;
  bottom: 40px;
  left: 335px;
}
