
.left {
  width: 40%;
  height: 100%;
  background: #F5F5F5;
  margin-top: 0;
  padding: 2%;
  float: left;
}

.right {
  width: 60%;
  height: 100%;
  background: white;
  float: left;
}

.back{
  text-align: left;
  margin-top: 0;
}

.titlerec{
  margin-left:5%;
  margin-top:20%;
  width: 90%;
  height: 5%;
  border-radius: 3px;
  text-align: center;
  background-color: #0058AB;
  font-family: futura-pt, sans-serif;
  color: white;
}
.divshop{
  width:40%;
  margin-left: 10%;
  margin-right: 0%;
  margin-top: 0%;
  float: left;

}

.mattressrec{
  margin-top:15%;
}

.divcart{
  width: 40%;
  margin-right: 7.5%;
  margin-left: 50%;
  margin-top: 0%;
}

.textout{
  margin-left: 5%;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  padding: 10%;
  margin-top: 7.5%;
  line-height: 37.5px;
}

.understore{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  margin:0;
  padding: 0;
}

.codeimg{
  text-align: center;
  margin: 0;
  padding: 2.5%;
}

.name{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
  display: inline;
  margin-top: 5%;
  margin-left: 25px;
}

.match{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #0058AB;
  float: left;
  margin-top: 32px;
  margin-left: -70px;
}

.price{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  float: right;
  margin-right: 25px;
  margin-top: 5%;
}

.reqrec{
  margin-top: 34px;
  margin-left: -5px;
}

.bedinfo{
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  padding-left: 27px;
  padding-right: 27px;
  display: none;
}
