.open-button {
  display: none;
}
.form-popup {
  display: none;
}

#openbutton1:hover+div.form-popup#myForm1{
  display: block;
}
#openbutton2:hover+div.form-popup#myForm2{
  display: block;
}
#openbutton3:hover+div.form-popup#myForm3{
  display: block;
}
#openbutton4:hover+div.form-popup#myForm4{
  display: block;
}
#openbutton5:hover+div.form-popup#myForm5{
  display: block;
}
#openbutton6:hover+div.form-popup#myForm6{
  display: block;
}
#openbutton7:hover+div.form-popup#myForm7{
  display: block;
}
#openbutton8:hover+div.form-popup#myForm8{
  display: block;
}
#openbutton9:hover+div.form-popup#myForm9{
  display: block;
}
#openbutton10:hover+div.form-popup#myForm10{
  display: block;
}
#openbutton11:hover+div.form-popup#myForm11{
  display: block;
}
#openbutton12:hover+div.form-popup#myForm12{
  display: block;
}
#openbutton13:hover+div.form-popup#myForm13{
  display: block;
}
#openbutton14:hover+div.form-popup#myForm14{
  display: block;
}
#openbutton15:hover+div.form-popup#myForm15{
  display: block;
}
#openbutton16:hover+div.form-popup#myForm16{
  display: block;
}
#openbutton17:hover+div.form-popup#myForm17{
  display: block;
}
#openbutton18:hover+div.form-popup#myForm18{
  display: block;
}
#openbutton19:hover+div.form-popup#myForm19{
  display: block;
}
#openbutton20:hover+div.form-popup#myForm20{
  display: block;
}
#openbutton21:hover+div.form-popup#myForm21{
  display: block;
}
#openbutton22:hover+div.form-popup#myForm22{
  display: block;
}
#openbutton23:hover+div.form-popup#myForm23{
  display: block;
}
#openbutton24:hover+div.form-popup#myForm24{
  display: block;
}
#openbutton25:hover+div.form-popup#myForm25{
  display: block;
}
#openbutton26:hover+div.form-popup#myForm26{
  display: block;
}
#openbutton27:hover+div.form-popup#myForm27{
  display: block;
}
#openbutton28:hover+div.form-popup#myForm28{
  display: block;
}
#openbutton29:hover+div.form-popup#myForm29{
  display: block;
}
div.form-popup:hover{
  display: block;
}
/* Hafslo */
#openbutton1 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton2 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm1{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm2{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* HAMARVIK */
#openbutton3 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton4 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm3{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm4{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* HOKKASEN */
#openbutton5 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton6 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton7 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm5{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm6{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

#myForm7{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* HOVAG */
#openbutton8 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton9 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm8{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm9{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* HYLLESTAD */
#openbutton10 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton11 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm10{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm11{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* MALVIK */
#openbutton12 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton13 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm12{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm13{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* MATRAND */
#openbutton14 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton15 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm14{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm15{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* MAUSUND */
#openbutton16 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton17 {
  position: absolute;
  bottom: 300px;
  right: 450px;
}

#openbutton18 {
  position: absolute;
  bottom: 360px;
  right: 200px;
}

#openbutton19 {
  position: absolute;
  bottom: 220px;
  right: 350px;
}

#myForm16{
  position: absolute;
  bottom: 170px;
  right: 110px;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#myForm17{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

#myForm18{
  position: absolute;
  bottom: 280px;
  right: 50px;
  z-index: 999;
}

#myForm19{
  position: absolute;
  bottom: 140px;
  right: 200px;
  z-index: 999;
}

/* MORGEDAL */
#openbutton20 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton21 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton22 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm20{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm21{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

#myForm22{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* MYRBACKA */
#openbutton23 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton24 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton25 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm23{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm24{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

#myForm25{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* VADSO */
#openbutton26 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton27 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm26{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm27{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}

/* VATNESTROM */
#openbutton28 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton29 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#myForm28{
  position: absolute;
  bottom: 280px;
  right: 300px;
  z-index: 999;
}

#myForm29{
  position: absolute;
  bottom: 220px;
  right: 300px;
  z-index: 999;
}
