body {
    margin: 0;
    background: black;
}
#layout {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -615px;
    margin-top: -385px;
    width: 1229px;
    height: 768px;
    background: white;
    transform-origin: 50% 50%;
    text-align: center;
}
