.bigrec{
  width: 70%;
  background: white;
  height: 100%;
}

.alternative{
  width: 30%;
  margin-left: 70%;
  background: white;
  height: 100%;
}

.text{
  height: 10%;
  margin-top: 5%;
}

.img{
  height: 25%;
  margin-top: 10%;
}

.tags{
  height: 10%;
  margin-top: 20%;
}

.recomtext{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.underrecom{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  margin-left: 10%;
  padding: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bluebeam{
  width: 82.5%;
  background: #0058AB;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin-left: 10%;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
}

.recomimg{
  text-align: center;
  margin-left: 10%;
  margin-top: 7.5%;
  z-index: -1;
}

.requirement{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  width: 82.5%;
  margin-left: 10%;
  border-style: none none solid none;
  border-width: thin;
}

.taglayout{
  display: inline-block;
  margin-left: 3%;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#F5F5F5;
  margin-left: 10%;
  font-family: futura-pt, sans-serif;
}

.startalternative{
  text-align: center;
  margin-top: 10%;
  width: 100%;
}
.alternativemattress{
  height: 45%;
  text-align: center;
}

.alternativebeam{
  width: 82.5%;
  background: #F5F5F5;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-left: 10%;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
}

.alternativeimg{
  text-align: center;
  margin-left: 10%;
  margin-top: 7.5%;
  z-index: -1;
}
