.allButtons {
  display: block;
}

#openbutton1:hover+div.form-popup#myForm1{
  display: block;
}
#openbutton2:hover+div.form-popup#myForm2{
  display: block;
}
#openbutton3:hover+div.form-popup#myForm3{
  display: block;
}
#openbutton4:hover+div.form-popup#myForm4{
  display: block;
}
div.form-popup:hover{
  display: block;
}

#openbutton1 {
  position: absolute;
  bottom: 250px;
  right: 260px;
}

#openbutton2 {
  position: absolute;
  bottom: 300px;
  right: 450px;
}

#openbutton3 {
  position: absolute;
  bottom: 360px;
  right: 200px;
}

#openbutton4 {
  position: absolute;
  bottom: 220px;
  right: 350px;
}

#myForm1{
  position: absolute;
  bottom: 170px;
  right: 110px;
  margin: 0;
  padding: 0;
}

#myForm2{
  position: absolute;
  bottom: 220px;
  right: 300px;
}

#myForm3{
  position: absolute;
  bottom: 280px;
  right: 50px;
}

#myForm4{
  position: absolute;
  bottom: 140px;
  right: 200px;
}
