.bigrec{
  width: 70%;
  height: 100%;
  background: white;
  float: left;
}

.alternative{
  width: 30%;
  height: 100%;
  background: white;
  float: left;
}

.divback{
  margin-top: 6.5%;
  width: 8.75%;
  margin-left: 0;
  height: 100%;
  float: left;
}

.divrec{
  margin-top: 5%;
  width: 82.5%;
  height: 100%;
  float: left;
}

.divright{
  margin-top: 5%;
  width: 8.5%;
  height: 100%;
  float: left;
}
.text{
  height: 10%;
}

.img{
  margin-top: 10%;
}

.tags{
}

.back{
  margin-right: 0;
  text-align: center;
}

.recomtext{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.underrecom{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bigmattress{
  width: 100%;
  height: 100%;
}

.bluebeam{
  width: 100%;
  background: #0058AB;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
}

.recomimg{
  text-align: center;
  margin-top: 7.5%;
  z-index: -1;
}

.requirement{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  width: 100%;
  border-style: none none solid none;
  border-width: thin;
}

.taglayout{
  display: inline-block;
  margin-right: 3%;
  width: fit-content;
  border-radius: 13.5%/50%;
  text-align: center;
  padding-left: 4.5%;
  padding-right: 4.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color:#F5F5F5;
  font-family: futura-pt, sans-serif;
}

.tagcrossed{
  display: inline-block;
  margin-left: 3%;
  width: fit-content;
  border-radius: 13.5%/50%;
  text-align: center;
  padding-left: 4.5%;
  padding-right: 4.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color:#F9F9F9;
  color:#828282;
  font-family: futura-pt, sans-serif;
  text-decoration: line-through;
}

.startalternative{
  text-align: center;
  margin-top: 10%;
  width: 100%;
}
.alternativemattress{
  height: 45%;
  text-align: center;
}

.alternativebeam{
  width: 82.5%;
  background: #F5F5F5;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-left: 10%;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
}

.alternativeimg{
  text-align: center;
  margin-left: 10%;
  margin-top: 7.5%;
  z-index: -1;
}
